<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <nav>
      <span>HERBLE</span> <span>STATS</span> <span>SETTINGS</span>
    </nav>
  </section>

  <section> 
    <div>
      <div>
        GAME BOX
      </div>
      <div>
        <!-- The picture will render here -->
        <!-- <img src= {{rendered from handlebars partial}}> -->
      </div>
    </div>
  </section>

  <section>
    <div>
      <label for="user-guesses">Search Box</label>
      <input type="search" id and classes will go here />
    </div>
    <div>
      <button>Guess Button</button>
    </div>
    <div>
      <span>Past Guess 1</span> <span>Past Guess 2</span> <span>Past Guess 3</span>
    </div>
  </section>














</body>
</html>