<body class="bg-emerald-900 dark dark:bg-neutral-900 dark:text-slate-500"> 
  <h7>WORD BANK</h7>
  <section>
    <div class="container">
      {{#each plants as |plant|}}
      {{> plants-Details}}
      {{/each}}
    </div>
  </section>
</body>

