<nav class="bg-emerald-200 border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
    <div class="text-leftcontainer flex flex-wrap justify-between items-center mx-auto">
      <a href="#" class="flex items-center">
        <img src="/public/assets/imgs/33839cee7a9c49a090bf1c1331632cad.png">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
      </a>

      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="flex flex-col p-4 mt-4 bg-emerald-200 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-xlg md:font-medium md:border-0 md:bg-emerald-200 ">
          <li>
            <a href="#" class="hover:underline block py-2 pr-4 pl-3 text-white bg-emerald-200 rounded md:bg-transparent md:text-gray-700 md:p-0 dark:text-white" aria-current="page">Login</a>
          </li>
          <li>
            <a href="#" class="hover:underline block py-2 pr-4 pl-3 text-white bg-emerald-200 rounded md:bg-transparent md:text-gray-700 md:p-0 dark:text-white">Sign Up</a>
          </li>
          <li> 
          </li>
        </ul>
      </div>
    </div>
</nav>