<div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Create Account</h1>
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button class="pulse">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Create an Account</h1>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button class="pulse">Sign Up </button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Welcome to Herble!</h1>
                    <p>If you've been looking for a guessing game about plants... look no further!</p>
                </div>
            </div>
        </div>
</div>
